body{
    background: rgb(18, 160, 136);
    color:azure;
    margin: 0px;
    font-family: "Bona Nova SC", serif;
    margin-bottom: 100px;
}
header{
    border-bottom: 3px solid rgb(171, 245, 190);
    padding: 20px;
    color:rgb(171, 245, 190);
    font-size: 35px;
}
.chamada{
    background: rgb(14, 117, 100);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 35px;
}
